.main-dash{

    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 241, 246);
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    padding: 25px;

    
}

.body-dash1{

    width: 15%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.body-dash2{

    width: 85%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.menu-dash{

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    box-sizing: border-box;
}

.menu-li{

    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.headerr{
     width: 100%;
     height: 250px;
     background: url("../assets/images/profile2.jpg") center no-repeat; 
     background-size: cover;
}

.body-dash3{

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    box-sizing: border-box;
    
}

.body-dash3 > div{

        height: 120px;
        width: 150px;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        flex-direction: column;
        background-color: aliceblue;
        cursor: pointer;
        font-weight: bolder;
}


.clicked {
    transform: scale(0.90);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .clickedd {
    transform: scale(0.95);
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
  }


  .flex-auto{

    display: flex;
    align-items: center;
    gap: 10px;
  }

  .is-actived{

    background-color: rgb(41, 89, 152);
    color: #fff;
  }

  .gradient{
    background: linear-gradient(to right, rgb(41, 89, 152), blue);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }

  .head > div{

    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .full-width{

    width: 100%;
  }