.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(219, 219, 252);
    padding: 50px;
    box-sizing: border-box;

}
.body1{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px; 
    display: flex;

}

.image1{

    width: 50%;
    background: url("../assets/images/home.jpg") center;
    height: 100%;
    background-size: cover;
    border-radius: 15px;

}

.sign-in-form{

    width: 50%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.flex1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.flex11{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.flex11:nth-child(2){
    margin-left: 15px;
}

.formBlock{

        width: 100%;
        box-sizing: border-box;
}

.button{
    background-color:  rgb(41, 89, 152);
    
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.3);
    transition: background-color 1s ease;
}

.button:hover{

    background-color: rgb(110, 142, 202, 0.7) ;

}

