@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


.acafad{

  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  
}
